

.navbar-nav{
    height: 70px;
}

.nav-item:nth-child(2n):hover{
    border-bottom: 4px solid blueviolet;
}

.nav-item:nth-child(2n+1):hover{
    border-bottom: 4px solid darkgoldenrod;
}

.nav-item:first-child:hover{
    border-bottom: 4px solid black;
}